<div class="container-fluid">
    <form id="create-post">
        <div class="mb-3">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="post-title" placeholder="Post Title Here">
        </div>
        <div class="mb-3">
            <label for="post-context" class="form-label">Post Context</label>
            <textarea class="form-control" id="post-context" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-post">Submit</button>
    </form>
</div>

<script src="/js/post.js"></script>